.App {
  text-align: center;
}

.profile-info {
  margin: 2rem auto;
}
button {
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  padding: 0.5rem 2rem;
  color: azure;
  background-color: black;
}
img {
  border-radius: 50%;
}
